body {
    padding: 0px;
    background-color: rgb(243, 243, 243);
}
header {
    position: relative;
    height: 8vh;
    width: 99vw;
    margin: -8px 0px 0px -8px;
    border: 0px;
    background-color: rgb(51, 103, 214);
    box-sizing: border-box;
    padding: 2.5vh 0 2.5vh 0;
}
#webBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}
aside {
    position: sticky;
    top: 0px;
    padding: 20px 0px 20px 20px;
    height: fit-content;
    max-height: 180px;
    min-width: 300px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0px 0px 0px -9px;
    /*background-color: white;
    /*border: 1px solid lightgray; /*rgba(124, 159, 236, 0.3);*/
    /*border-radius: 0px 0px 20px 0px;*/
}
aside > button {
    height: 30px;
    width: 175px;
    background-color: white; /* rgb(254, 254, 254);*/
    color:  rgb(67, 114, 216);
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px 0px 0px -5px;
    font-weight: bold;
}
aside > button:hover {
    background-color: rgba(169, 203, 219, 0.205);
    border-color: rgb(0, 110, 255);
}
aside > label {
    height: 34px;
    width: 250px;
    margin: 10px 0px 0px -5px;
    padding-right: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    background-color: white; /* rgb(254, 254, 254);*/
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
label > img {
    height: 18px;
    width: 25px;
    margin-left: 3px;
    background-color: transparent;
}
label > input {
    width: 200px;
    height: 30px;
    margin-right: 5px;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent;/*  rgb(254, 254, 254);*/
}
label > input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*color: rgb(170, 170, 170);*/
    color:  rgba(67, 114, 216, 0.35);
}
input[type="checkbox"] {
    margin-right: 20px;
}
.filterHoverFocus {
    background-color: rgba(169, 203, 219, 0.205);
    border-color: rgb(0, 110, 255);
}

#windowsList {
    padding: 30px 5vw;
    margin-right: 0;
    width: 60vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*All the tabs of one window goes inside one div with class .window*/
.window {
    width: 60vw;
    padding: 15px 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
}
.window > div {
    width: 57vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border: none;
    text-indent: -20px;
    font-size: 10pt;
    margin: 10px 0px 10px 30px;
}
.window > div:hover {
    background-color: rgba(222, 240, 251, 0.644);
}
.window > hr {
    display: block;
    margin: 13px 8% 13px 5%;
    width: 87%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.window > div > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.window > div > a > div {
    flex-grow: 3;
    padding-left: 20px;
    max-width: 35vw;
    text-overflow: ellipsis;
    overflow: hidden;
}
.window > div > a > div + div {
    flex-grow: 2;
    color: gray;
    font-size: 9pt;
    padding-left: 50px;
    max-width: 20vw;
}
.window > div > img {
    margin: 0px 15px 0px 0px;
    height: 15px;
    width: 15px;
}
/* Does not work in chrome
.hidden {
    display: none;
}
*/