body {
    padding: 0px;
    background-color: rgb(243, 243, 243);
}
header {
    position: relative;
    height: 8vh;
    width: 99vw;
    margin: -8px 0px 0px -8px;
    border: 0px;
    background-color: rgb(51, 103, 214);
    box-sizing: border-box;
    padding: 2.5vh 0 2.5vh 0;
}
#webBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}
aside {
    position: sticky;
    top: 0px;
    padding: 20px 0px 20px 20px;
    height: fit-content;
    max-height: 180px;
    min-width: 300px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0px 0px 0px -9px;
    /*background-color: white;
    /*border: 1px solid lightgray; /*rgba(124, 159, 236, 0.3);*/
    /*border-radius: 0px 0px 20px 0px;*/
}
aside > button {
    height: 30px;
    width: 175px;
    background-color: white; /* rgb(254, 254, 254);*/
    color:  rgb(67, 114, 216);
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px 0px 0px -5px;
    font-weight: bold;
}
aside > button:hover {
    background-color: rgba(169, 203, 219, 0.205);
    border-color: rgb(0, 110, 255);
}
aside > label {
    height: 34px;
    width: 250px;
    margin: 10px 0px 0px -5px;
    padding-right: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    background-color: white; /* rgb(254, 254, 254);*/
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
label > img {
    height: 18px;
    width: 25px;
    margin-left: 3px;
    background-color: transparent;
}
label > input {
    width: 200px;
    height: 30px;
    margin-right: 5px;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent;/*  rgb(254, 254, 254);*/
}
label > input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*color: rgb(170, 170, 170);*/
    color:  rgba(67, 114, 216, 0.35);
}

.filterHoverFocus {
    background-color: rgba(169, 203, 219, 0.205);
    border-color: rgb(0, 110, 255);
}