body {
  padding: 0px;
  background-color: rgb(243, 243, 243);
}
aside {
  width: 250px;
  height: fit-content;
  margin-left: -5px;
  background-color: transparent !important;
  border: none !important;
  font-size: 13px;
}
aside > button {
  width: 100%;
  text-align: left !important;
  font-size: 13px !important;
  /*background-color: white !important; /* rgb(254, 254, 254);*/
  /*color:  rgb(67, 114, 216);*/
  /*border: 1px solid lightgray;*/
}
aside > button:hover {
  background-color: rgba(51, 103, 214, 0.075) !important;
}
aside > hr {
  width: 100%;
}
.btn:focus {
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
.form-check-input:focus {
  box-shadow: none;
}
.no-gutter > [class*='col-'] {
  padding-right:0 !important;
  padding-left:0 !important;
}
.collapse-when-desktop {
  display: none !important;
}
.row {
  width: 100% !important;
}
.noMarginNoPadding {
  margin: 0 !important;
  padding: 0 !important;
}
.accordion {
  max-width: 80vw;
}
.accordion-header {
  background-color: rgba(42, 52, 85, 0.897);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.accordion-button {
  border: none;
  box-shadow: none !important;
  background-color: white !important;
}
.accordion-body {
  background-color: rgb(250, 250, 250);
}
.accordion-body > .row {
  width: 100%;
  border-radius: 3px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom: solid 1px lightgray;
}
.accordion-body > .row:hover {
  background-color: white;
  /*border: solid 1px lightgray;*/
}
.tab-icon {
  width: 18px;
}
.domain-span {
  font-size: 13px;
}

@media (max-width: 576px) {
  .collapse-when-desktop {
    display: flex !important;
  }
  .collapse-when-mobile {
    display: none !important;
  }
  .show-when-desktop {
    display: none !important;
  }
  #title {
    margin-left: -10px;
  }
  .accordion {
    max-width: 95vw;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .collapse-when-desktop {
    display: flex !important;
  }
  .show-when-desktop {
    display: none !important;
  }
  .inline-when-tablet {
    display: inline-block;
  }
  #title {
    margin-left: -20px;
  }
  .accordion {
    max-width: 95vw;
  }
  #options {
    margin-left: -20px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .accordion {
    max-width: 77vw;
  }
}