body {
  padding: 0px;
  background-color: rgb(243, 243, 243);
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  margin-left: -5px;
  background-color: transparent !important;
  border: none !important;
}
aside > button {
  width: 175px;
  background-color: white !important; /* rgb(254, 254, 254);*/
  color:  rgb(67, 114, 216);
  border: 1px solid lightgray;
}
aside > button:hover {
  background-color: rgba(51, 103, 214, 0.075);;
}
.btn:focus {
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
.form-check-input:focus {
  box-shadow: none;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.collapse-when-desktop {
  display: none !important;
}
.row {
  width: 100% !important;
}
.noMarginNoPadding {
  margin: 0 !important;
  padding: 0 !important;
}
.options-icon > div {
  width: 16px;
  height: 2px;
  background-color: white;
  margin-top: 3.8px;
  border-radius: 25px;
}
.accordion-header {
  background-color: #e7f1ff;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.accordion-button {
  border: none;
  box-shadow: none !important;
}

@media (max-width: 576px) {
  .collapse-when-desktop {
    display: flex !important;
  }
  .collapse-when-mobile {
    display: none !important;
  }
  .show-when-desktop {
    display: none !important;
  }
  #title {
    margin-left: -10px;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .collapse-when-desktop {
    display: flex !important;
  }
  .show-when-desktop {
    display: none !important;
  }
  .inline-when-tablet {
    display: inline-block;
  }
  #title {
    margin-left: -20px;
  }
}