input[type="checkbox"] {
    margin: 0 20px 0 20px;
}
#windowsList {
    padding: 30px 5vw;
    margin-right: 0;
    width: 60vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*All the tabs of one window goes inside one div with class .window*/
.window {
    width: 60vw;
    padding: 15px 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
}
.window > div {
    width: 58.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px;
    border: none;
    text-indent: -20px;
    font-size: 10pt;
    margin: 20px 0px 20px 10px;
    border-radius: 4px;
}
.window > div:hover {
    background-color: rgba(226, 241, 250, 0.349);
}
.window > hr {
    display: block;
    margin: -1.5% 8% -1.7% 5%;
    width: 87%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.window > div > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.window > div > a > div {
    flex-grow: 3;
    padding-left: 20px;
    max-width: 35vw;
    text-overflow: ellipsis;
    overflow: hidden;
}
.window > div > a > div + div {
    flex-grow: 2;
    color: gray;
    font-size: 9pt;
    padding-left: 50px;
    max-width: 20vw;
}
.window > div > img {
    margin: 0px 15px 0px 0px;
    height: 15px;
    width: 15px;
}